#center {
    margin: auto;
    width: 30%;
    height: 300px;
}
#smallbox {
    float: left;
    width: 40%;
    height: 100%;
    background: white;
    box-shadow: 1px 0px 4px black;
}
#roundedbox {
    float: right;
    width: 40%;
    height: 100%;
    background: white;
    box-shadow: 3px 6px 10px grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}